body {
  height: 100vh;
  font-family: "CARTOON FREE", sans-serif;
  margin: 0%;
  border: 0%;
  background-color: rgb(216, 239, 242);
  color: #9f5d00;
}

.header {
  width: 100vw;
  text-align: center;
  background-color: skyblue;
  border-bottom: 1px solid #393939;
}

.clicker {
  height: 10vh;
  animation: spin 4s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.upgrades {
  position: relative;
  display: flex;
  left: 35vw;
  right: 35vw;
  width: 30vw;
  min-width: 200px;
  height: 200px;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: end;
}

button {
  background-color: transparent;
  color: #9f5d00;
  border: 0px;
}

img .upgrade-a {
  height: 1em;
}

.upgrade-a {
  width: 15vw;
  height: 40px;
}

.upgrade-p {
  width: 15vw;
  height: 40px;
}
